@import '../scss/remove_common_style';
@import '../scss/button/button_nomal';

body {
    padding: 1rem;
}

.box {
    width: 10rem;
    height:10rem;
    margin:1rem;
    background-color: tomato;
    &:hover{
        background-color: darken($color: tomato, $amount: 20);
    }    
}

ul {
    list-style: none;
}

ul li {
    margin-top: 1rem;
    background-color: darkgray;
}
.fav_book {
    background-color: goldenrod;
}